body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: #fff;
    padding: 70px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left; /* Align login form content to the left */
}

.logo {
    width: 60%;
    margin-bottom: 20px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.login-form h1 {
    text-align: left;
    margin-bottom: 20px;
    color: #333;
    width: 60%;
}

.login-form label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.login-form button:hover {
    background-color: #0056b3;
}
